.footer {
  padding: 60px 20px;
  background: #103a79;
  text-align: center;
}

.container {
  max-width: 800px;
  margin: auto;
}

.names {
  font-family: "Playfair Display", serif;
  font-size: 32px;
  color:  #c5d9f6;
  margin-bottom: 10px;
}

.message {
  font-size: 15px;
  color:  #c5d9f6;
  line-height: 1.6;
  margin-bottom: 25px;
}

.divider {
  width: 60px;
  height: 2px;
  background: #c5d9f6;
  margin: 20px auto;
}

.copy {
  font-size: 13px;
  color: #8aa0c0;
}

.dev {
  font-size: 13px;
  color:  #c5d9f6;
  margin-top: 6px;
}

.dev span {
  color: #4f80c9;
  font-weight: 500;
}